[project]
	description = AIML engine designed for chatbot programming.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Piotr Siatkowski (Siatas)
[access "refs/for/refs/*"]
	read = group user/Piotr Siatkowski (Siatas)
	push = group user/Piotr Siatkowski (Siatas)
	label-Code-Review = -2..+2 group user/Piotr Siatkowski (Siatas)
	label-Verified = -1..+1 group user/Piotr Siatkowski (Siatas)
	rebase = group user/Piotr Siatkowski (Siatas)
	removeReviewer = group user/Piotr Siatkowski (Siatas)
	submit = group user/Piotr Siatkowski (Siatas)
[access "refs/heads/*"]
	read = group user/Piotr Siatkowski (Siatas)
	create = group user/Piotr Siatkowski (Siatas)
	push = +force group user/Piotr Siatkowski (Siatas)
	pushMerge = group user/Piotr Siatkowski (Siatas)
[access "refs/tags/*"]
	push = +force group user/Piotr Siatkowski (Siatas)
	pushTag = group user/Piotr Siatkowski (Siatas)
	pushSignedTag = group user/Piotr Siatkowski (Siatas)
